Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
configure
contrib/Makefile
contrib/Makefile.in
doc/Makefile
doc/Makefile.in
src/Makefile
src/Makefile.in
src/pdnsd-ctl/Makefile
src/pdnsd-ctl/Makefile.in
src/rc/ArchLinux/Makefile
src/rc/ArchLinux/Makefile.in
src/rc/Debian/Makefile
src/rc/Debian/Makefile.in
src/rc/Makefile
src/rc/Makefile.in
src/rc/RedHat/Makefile
src/rc/RedHat/Makefile.in
src/rc/Slackware/Makefile
src/rc/Slackware/Makefile.in
src/rc/SuSE/Makefile
src/rc/SuSE/Makefile.in
src/test/Makefile
src/test/Makefile.in
*.o

