Makefile
pdnsd-1.2.9a/Makefile
pdnsd-1.2.9a/Makefile.in
pdnsd-1.2.9a/aclocal.m4
pdnsd-1.2.9a/config.h
pdnsd-1.2.9a/config.h.in
pdnsd-1.2.9a/configure
pdnsd-1.2.9a/contrib/Makefile
pdnsd-1.2.9a/contrib/Makefile.in
pdnsd-1.2.9a/doc/Makefile
pdnsd-1.2.9a/doc/Makefile.in
pdnsd-1.2.9a/src/Makefile
pdnsd-1.2.9a/src/Makefile.in
pdnsd-1.2.9a/src/pdnsd-ctl/Makefile
pdnsd-1.2.9a/src/pdnsd-ctl/Makefile.in
pdnsd-1.2.9a/src/rc/ArchLinux/Makefile
pdnsd-1.2.9a/src/rc/ArchLinux/Makefile.in
pdnsd-1.2.9a/src/rc/Debian/Makefile
pdnsd-1.2.9a/src/rc/Debian/Makefile.in
pdnsd-1.2.9a/src/rc/Makefile
pdnsd-1.2.9a/src/rc/Makefile.in
pdnsd-1.2.9a/src/rc/RedHat/Makefile
pdnsd-1.2.9a/src/rc/RedHat/Makefile.in
pdnsd-1.2.9a/src/rc/Slackware/Makefile
pdnsd-1.2.9a/src/rc/Slackware/Makefile.in
pdnsd-1.2.9a/src/rc/SuSE/Makefile
pdnsd-1.2.9a/src/rc/SuSE/Makefile.in
pdnsd-1.2.9a/src/test/Makefile
pdnsd-1.2.9a/src/test/Makefile.in
